<aside>
    <section>
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">About Me</h4>
                <div class="list-group-item-text">
                    {% if SOCIAL %}
                    {% for name, link in SOCIAL %}
                        <a title="{{ name }}" href="{{ link }}""><i class="icon-{{ name }}-sign icon-large"></i></a>
                    {% endfor %}
                    {% endif %}
                </div>
                <div id="_author_intro" class="list-group-item-text">
				{{ AUTHOR_INTRO }}
			    </div>
            </div>


            <div class="list-group-item">

                <h4 class="list-group-item-heading">Recent Posts</h4>

                {% for article in articles %}
                    <div class="list-group-item-text">
                        <a title="{{ article.title }}" href="{{ article.url }}">{{ article.title }}</a>
                    </div>
                    {% if loop.index >= 5 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="list-group-item">
                <h4 class="list-group-item-heading"></i>Recent Comments</h4>
                <script type="text/javascript" src="http://deepread.disqus.com/recent_comments_widget.js?num_items=10&hide_avatars=0&avatar_size=40&excerpt_length=100"></script>
                <script type="text/javascript">
                    var elem;
                    $(".dsq-widget-list")
                            .removeClass("dsq-widget-list")
                            .css({padding:0, margin:0});
                    $(".dsq-widget-item")
                            .removeClass("dsq-widget-item")
                            .addClass("list-group-item-text")
                            .css({"list-style-type":"none"});
                </script>
            </div>


            {# Uncomment if you want to show Categories #}

            <div class="list-group-item">
                <h4 class="list-group-item-heading">Categories</h4>

            {% for cat, null in categories %}
            <div class="list-group-item-text">
                <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
            </div>
            {% endfor %}
            </div>

            <div class="list-group-item">
			<h4 class="list-group-item-heading"><a href="{{ SITEURL }}/archives.html">Archives</a></h4>
			</div>

        </div>
    </section>
    {% include 'includes/github.html' %}
</aside>
